<ul>
  {% for item in menu.children if item.displayed %}
    {# TODO: Hardcode! #}
    <li{% if loop.index == 4 %} class="last"{% endif %}>
      <a href="{{ item.uri }}">{{ item.label }}</a>
    </li>
  {% endfor %}
</ul>
