<div class="basket">
  <div class="basket-block">
    <div class="icon icon3">
      <img src="images/icon7.png" width="24" height="24" alt="image description">
    </div>
    <div class="block-img">
      <div class="img-basket">
        <img src="images/img7.jpg" width="147" height="84" alt="image description">
      </div>
    </div>
    <div class="basket-description">
      <span>С мясом "Традиционный"</span>

      <p>Lorem ipsum dolor sit amet, consectetur <br>
        adipisicing elit, sed do eiusmod tempor <br>
        incididunt ut labore et dolore magna aliqua...</p>
    </div>
    <div class="weight">
      <b>Вес:</b>
      <select id="seldef1" title="1000 г.">
        <option>1200 г.</option>
        <option>1400 г.</option>
      </select>
    </div>
    <div class="weight quantity">
      <b>Кол-во:</b>
      <select id="seldef1" title="5 шт.">
        <option>6 шт.</option>
        <option>7 шт.</option>
      </select>
    </div>
    <div class="cost">
      <b>Цена:</b>
      <span>600 руб</span>
    </div>
    <div class="delete">
      <a href="#">Удалить</a>
    </div>
  </div>
  <div class="in-total">
    <span>Итого: <strong>2400 руб</strong></span>
    <a href="#">Оформить заказ</a>
  </div>
</div>