<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>{% block title %}Мосгурман{% endblock %}</title>

  {% block stylesheets %}
    <link media="all" rel="stylesheet" type="text/css" href="{{ asset('bundles/mgfront/css/style.css') }}"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,cyrillic'
          rel='stylesheet' type='text/css'>
    <!--[if IE 8]>
    <link href="{{ asset('bundles/mgfront/css/ie8.css') }}" rel="stylesheet" media="all"/><![endif]-->
  {% endblock stylesheets %}

  {% block javascripts %}
    {% javascripts
    '@MGFrontBundle/Resources/public/js/vendor/jquery-min.js'
    '@MGFrontBundle/Resources/public/js/vendor/underscore-min.js'
    '@MGFrontBundle/Resources/public/js/vendor/backbone-min.js'
    '@MGFrontBundle/Resources/public/js/plugins/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% endblock javascripts %}
</head>
<body>
{% block body %}
  <div id="wrapper">
    {% block top %}
      {% include "::top.html.twig" %}
    {% endblock top %}

    {% block slider %}
      {% include "::slider.html.twig" %}
    {% endblock slider %}

    {% block nav %}
      {% include "::nav.html.twig" %}
    {% endblock nav %}

    {% block main %}
      {% include "::main.html.twig" %}
    {% endblock main %}

    {% block footer %}
      {% include "::footer.html.twig" %}
    {% endblock footer %}
  </div>

  {% block review %}
    {% include "::review.html.twig" %}
  {% endblock review %}
{% endblock body %}
</body>
</html>