<div class="nav">
  <ul>
    <li>
      <a href="#">Осетинские пироги </a>
      <span></span>
    </li>
    <li>
      <a href="#">Сладкие пироги</a>
      <span></span>
    </li>
    <li>
      <a href="#">Торты и десерты</a>
      <span></span>
    </li>
    <li>
      <a href="#">Кулинария</a>
      <span></span>
    </li>
    <li>
      <a href="#">Салаты</a>
      <span></span>
    </li>
    <li>
      <a href="#">Напитки</a>
      <span></span>
    </li>
  </ul>
</div>
