<div id="blanket" style="display:none;"></div>
<div id="popUpDiv3" style="display:none;">
  <div id="overlay">
    <div class="add-review">
      <form action="">
        <fieldset>
          <a class="close-btn" onclick="popup('popUpDiv3')" href="#"><img
                src="{{ asset('bundles/mgfront/images/close.png') }}" alt=""/></a>

          <h2>Добавить отзыв</h2>
          <input type="text" value="Представтесь">
          <textarea name="" id="" cols="" rows="">Ваш отзыв...</textarea>
          <input type="submit" value="Отправить отзыв">
        </fieldset>
      </form>
    </div>
  </div>
</div>
